<doctype html>
    <title>Add User</title>
    <h1>Add User</h1>
    <form method="post" action="http://127.0.0.1:5000/add">
        <dl>
    
            <p>
                <input name="inputName" value="" type="text" placeholder="Name" autocomplete="off" required>
            </p>
            <p>
                <input name="inputEmail" value="" type="text" placeholder="Email" autocomplete="off" required>
            </p>

            <p>
                <input name="contact" value="" type="text" placeholder="Mobile Number" autocomplete="off" required>
            </p>
            <p>
                <input name="address" value="" type="text" placeholder="Address" autocomplete="off" required>
            </p>
            <p>
                <input name="profession" value="" type="text" placeholder="Profession" autocomplete="off" required>
            </p>
            <p>
                <input name="age" value="" type="number" placeholder="Age" autocomplete="off" required>
            </p>
            
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>