<doctype html>
    <title>Edit User</title>
    <form method="POST" action="http://127.0.0.1:5000/update">
        <dl>
            <h1>Enter your correct Id and Email to edit details...</h1>
            <p>
                <input name="id" value="" type="text" placeholder="Id" autocomplete="off" required>
            </p>

            <p>
                <input name="inputEmail" value="" type="text" placeholder="Email" autocomplete="off" required>
            </p>

            <p>
                <input name="inputName" value="" type="text" placeholder="Name" autocomplete="off" required>
            </p>

            <p>
                <input name="contact" value="" type="number" placeholder="contact" autocomplete="off" required>
            </p>
            
            <p>
                <input name="address" value="" type="text" placeholder="address" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input name="id" value="" type="hidden">
            <input type="submit" value="Submit">
        </p>
    </form>